<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>751776134149-asura2oefm1ojr45iii09k5hv57k16qh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.751776134149-asura2oefm1ojr45iii09k5hv57k16qh</string>
	<key>API_KEY</key>
	<string>AIzaSyDZS7yscps35wALNwYhOz56LOBKe3KhEnk</string>
	<key>GCM_SENDER_ID</key>
	<string>751776134149</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.themedidex.Medidex</string>
	<key>PROJECT_ID</key>
	<string>testproject-af84c</string>
	<key>STORAGE_BUCKET</key>
	<string>testproject-af84c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:751776134149:ios:9eb8aa31f5293f29</string>
	<key>DATABASE_URL</key>
	<string>https://testproject-af84c.firebaseio.com</string>
</dict>
</plist>
